body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
    padding: 1em;
    background-color: #F5F5F5;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;

}

ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    padding-top: 20px;
    min-height: 70px;
    border-bottom: black 4px solid;
    text-align: left;
}

header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 20px;
}

header .current a{
    color: #5f0679;
    font-weight: bold;
}

header a:hover{
    color: #c000fa;
}

/* Form */
form input{
    width: 80%;
    font-size: 1em;
    vertical-align: middle;
}

.button_1{
    width: 85px;
    height: 35px;
    background-color: #68BB59;
    color: white;
    text-align: center;
    padding: 6px;
    margin-top: 15px;
}